server/node_modules/*
server/requests.rest
server/dist
server/.env
server/firebase_private_key.json
server/coverage
server/coverage/*

frontend/node_modules/*
frontend/dist
frontend/.env
fronend/coverage
frontend/coverage/*

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.env